<div class="row">
    <div class="col-md-3" ng-repeat="item in list.menuItems">
        <div class="card mb-3">
            <div class="card-header">
                <button class="float-right fa fa-times" ng-click="list.onRemove({index: $index});"></button>
                <h4 class="card-title">{{item.name}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer">
                <div class="card-text float-left" ng-if="item.price_small"><small>Small: {{item.price_small | currency}}</small></div>
                <div class="card-text float-right" ng-if="item.price_large"><small>Large: {{item.price_large | currency}}</small></div>
            </div>
        </div>
    </div>
</div>
